{% extends 'base.html.twig' %}

{% block title %}Errore 500 - Internal Server Error{% endblock %}

{% block body %}
    <h1>Errore 500 - Internal Server Error</h1>
    <p>Si è verificato un errore interno del server.</p>
        <img src="{{ asset('images/error_image.png') }}" alt="Error Ghost">
{% endblock %}
