
{% extends 'base.html.twig' %}

{% block title %}Errore 403 - Accesso Negato{% endblock %}

{% block body %}
    <h1>Errore 403 - Accesso Negato</h1>
    <p>Non hai i permessi necessari per accedere a questa risorsa.</p>
       <img src="{{ asset('images/error_image.png') }}" alt="Error Ghost">
{% endblock %}